/* Element */
nav{
  font-family: 'Georama', sans-serif;
  text-align: center;
  margin: 0px;
  max-width: 100%;
  margin-top: 10px;
}

button{
  padding: 7px;
  margin-top: 7px;
  margin-left: 70px;
  margin-bottom: 7px;
  background-color: black;
  color: white;
  font-family: 'Georama', sans-serif;
  border-radius: 4px;
}

/* title of websise - Movie Track */
h1{
  font-family: 'Alata', sans-serif;
  font-family: 'Tourney', sans-serif;
  font-size: 90px;
  text-align: center;
  color: #f8621d;
}

body{
  min-height: 100vh;
}

img{
 margin-bottom: 0px;
}

/* text about website */
.center-align{
  font-family: 'Georama', sans-serif;
  font-size: 23px;
  color: whitesmoke;
}

/* container for both Movie & Soundtrack */
.parent-container{
  margin-left: 25%;
  margin-right: 25%;  /*i changed these (left & right) because my laptop monitor is small. Now they are side by side on my small monitor-HP*/
  display: flex;
  justify-content: space-evenly; /*did this to make sure in middle of page etc. -HP*/
  /* display: inline-flex;    I dont think this was doing anything -HP */
  flex-wrap: wrap;
  flex-direction: row;
}

/* container for Movie */
.flex-container{
  justify-content: left; /* //justify-content needs to stay LEFT */
  display: flex;
  margin:0px;
  margin-right: 70px;
  flex-wrap: wrap;
  font-family: 'Georama', sans-serif;
  font-weight: 550;
  color: whitesmoke;
  border-bottom: 5px, solid blue;
  margin-top: 0px;
}

.flex-container2{
  display: flex;
  flex-direction: column; /*HP changed to column for text to be beneath soundtrack image*/
  justify-content: center;
  align-items: center;
  /* max-height: 310px; */
  padding: 0px;
  /* border-bottom: 5px, solid blue; */
  margin-top: 0px;
  margin-bottom: 0px;
}

.soundtrack-text{
  margin-left: 0;/* do not change this*/
  font-family: 'Georama', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: whitesmoke;
}

/* id - movie info for movie list*/
#list{
  list-style: none;
  width: 300px;
  height: 700px;
}

/* hide add to watchlist button */
#btn2{   
  display: none;
}

#rmvBtn{
  display: none;
}

#results{
  display: flex;
  padding: 0px;
  justify-content: space-evenly;
  max-width: 1000px;
  max-height:600px;
  margin: 2px;
  margin-top: -70px;
  margin-bottom: 0px;
}


/* Style for the error modal */
#errorModal{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgb(205, 40, 40);
}

/* Style for the error modal content */
#errorModal .modal-content{
  background-color: #fefefe;
  margin: 15px;
  padding: 12px;
  border: 1px solid #888;
  width: 90%; 
}

/* Style for the close button in the error modal */
#errorModal .close{
  color: #aaa;
  margin: 1px;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#errorModal .close:hover,
#errorModal .close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#errorMessage{
  text-align: center;
  margin: 0px;
  font-size: 20px;
}

/* media queries */
@media screen and (max-width:1343px){
  #results{
    display: flex;
    padding: 0px;
    justify-content: space-evenly;
    max-width: 1000px;
    max-height:600px;
    margin: 2px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width:1339px) {
  .parent-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
 
  }
  .flex-container{
    margin:0px;
    margin-right: 25%;
    margin-left: 25%;
    flex-wrap: wrap;
    
  }
  .flex-container2{
    display: flex;
    flex-direction: column; /*HP changed to column for text to be beneath soundtrack image*/
    justify-content: center;
    align-items: center;
    max-height: 600px;
    padding: 0px;
  }
  .cover{
    margin-top: 10px;  /*HP added this so the image would align with movie poster*/
    text-align: center;
    justify-content: center;
    margin-left: 5px;
  }
  #list{
    list-style: none;
    width: 300px;
    height: 700px;
  }

  #results{
    display: flex;
    padding: 0px;
    justify-content: space-evenly;
    max-width: 1000px;
    max-height:600px;
    margin: 2px;
    margin-top: 70px;
    margin-bottom: 0px;
  }
  
  button{
    padding: 7px;
    margin-top: 7px;
    margin-left: 70px;
    margin-bottom: 7px;
    background-color: black;
    color: white;
    font-family: 'Georama', sans-serif;
    border-radius: 4px;
  }
}

  /* hannah fixed cell phone format */
  @media screen and (max-width:600px){
    h1{
      font-family: 'Alata', sans-serif;
      font-family: 'Tourney', sans-serif;
      font-size: 60px;
      text-align: center;
      color: #f8621d;
    }

    .center-align{
      font-family: 'Georama', sans-serif;
      font-size: 20px;
      margin-left: 5%;
      margin-right: 5%;
    }
    
    .parent-container{
      margin-left: 5%;
      margin-right: 5%;  
      display: flex;
      justify-content: space-evenly; 
      flex-wrap: wrap;
      flex-direction: row;
    }
    .flex-container{
      margin:0px;
      margin-right: 5%;
      margin-left: 5%;
      flex-wrap: wrap;
      max-height: 900px;
    }
    .flex-container2{
      display: flex;
      flex-direction: column; 
      justify-content: center;
      align-items: center;
      max-height: 900px;
      padding: 0px;
      margin-bottom: 100px;
    }
    #list{
      list-style: none;
      width: 300px;
      height: 700px;
    }
    #results{
      display: flex;
      padding: 0px;
      justify-content: space-evenly;
      max-width: 1000px;
      max-height:600px;
      margin: 2px;
      margin-top: 70px;
      margin-bottom: 0px;
    }
    
    button{
      padding: 7px;
      margin-top: 7px;
      margin-left: 70px;
      margin-bottom: 7px;
      background-color: black;
      color: white;
      font-family: 'Georama', sans-serif;
      border-radius: 4px;
    }
}


